<!DOCTYPE html>
 <html lang="en">
  <head>
        <% include ../partials/head %>
  </head>

  <body>
        <header>
                <% include ../partials/header %>
        </header>

        <div class="container text-center">
                <div class="row">
                        <div class="col-sm-12">
                                <h1> San Francisco State University</h1>
                                <p> Software Engineering CSC 648 </p>
                                <p> Fall 2017</p>
                                <p> Section 02 - Team 02</p>
			</div>
               </div>

	       <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">

<!-- get address in this form 1600 Holloway Avenue, San Francisco 94132 CA' and get id=address
-->

<!--		      <input id="address" type="textbox" value="San Francisco, CA"> -->
	    <!--      <input id="submit" type="button" value="Geocode">
	-->    </div>
	       <div id="map"></div>

	</div>

<!-- Google Map API Key= AIzaSyAi5ztmDz8Plo3g-yo4Yb8JahY8BS-xubM -->

<script>
function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: 37.722, lng: -122.478}
        });
        var geocoder = new google.maps.Geocoder();

       // document.getElementById('submit').addEventListener('click', function() {
       //   geocodeAddress(geocoder, map);
       // });
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }

</script>

<!--
    <script>

      function initMap() {
        var uluru = {lat:37.7749, lng:-122.4194};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }	
    </script>
-->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAi5ztmDz8Plo3g-yo4Yb8JahY8BS-xubM&callback=initMap">
    </script>

    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>

            <div id=footer>
                        <% include ../partials/footer %>
                </div>

         <% include ../partials/style %>
         <% include ../partials/plugins %>
   </body>
</html>

