<footer class="navbar-default navbar-fixed-bottom">
    <div class="container">
        <span class="text-muted">©  2017 SFSU Software Engineering Project, Fall-17, Group 02 </span>
    </div>
</footer>

