<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/fa17g02/"> HouseHunter </a>
    </div>
    <ul class="nav navbar-nav">
          <li><a href="https://sfsuse.com/fa17g02/about">About Us</a></li>
          <li><a href="https://sfsuse.com/fa17g02/sell"> SELL </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Sign In </a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Join </a></li>
    </ul>
  </div>
</nav>

