                                        <div class="table-responsive">
                                        <table class="table">
                                        <thead>
                                                <tr>
                                                        <th>city</th>
                                                        <th>state</th>
                                                        <th>zip code</th>
                                                </tr>
                                        </thead>
                                        
                                        <tbody>
                                                <tr>
                                                        <td> SF </td>
                                                        <td> CA </td>
                                                        <td> 94132 </td>
                                                </tr>

                                          <% if(data.length) {
                                         for (var i = 0; i<data.length; i++) { %>                                       
                                                console.log(data);
                                                <tr>
                                                        <td> <%= data[i].city %> </td>
                                                        <td> <%= data[i].state %> </td>
                                                        <td> <%= data[i].zip %> </td>
                                                </tr>

                                                <% }
                                                  }else{ %>
                                                 <tr>
                                                 <td colspan="3"> Invalid details</td>
                                                 </tr>
                                                <% } %>

                                        </tbody>
                                        </table>
                                        </div>
