<!DOCTYPE html>
<html lang="en">
    <head>
            <% include ../partials/head %>
    </head>
        <body>

        <header>
                <% include ../partials/header %>
        </header>

                <div class="container text-center">

                        <div class="row">
                                <div class="col-sm-12">

                                        <h1> San Francisco State University</h1>
                                        <p>Software Engineering CSC 648 </p>
                                        <p> Fall 2017</p>
                                        <p> Section 02 - Team 02</p>

                                        <p> <a href = "about/mohan">Visit Mohan's Webpage</a> </p>
                                        <p> <a href = "about/udara">Visit Udara's Webpage</a> </p>
                                        <p> <a href = "about/savan">Visit Savan's Webpage</a> </p>
                                        <p> <a href = "about/aishwarya">Visit Aishwarya's Webpage</a> </p>
                                        <p> <a href = "about/vipul">Visit Vipul's Webpage </a> </p>
                                        <p> <a href = "about/larry">Visit Larry's Webpage </a> </p>
                                </div>
                        </div>
                </div>
                        <div id=footer>
                                <% include ../partials/footer %>
                        </div>

        <% include ../partials/style %>

    <% include ../partials/plugins %>
   </body>
</html>

