<html>
<html lang="en">
<head>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> 
</head>
<body>

<div class ="jambotron text-center"> 
  <h1> SanFrancisco State University</h1>
	<p>Software Engineering Class Csc 648 </p>
	<p> Fall 2017</p>
	<p> Section 02</p> 
  <p> Team 02 </p>

<hr>

<div class ="container">

<div class="row">
<div class ="col-sm-4">
</div>

<div class ="col-sm-4">

<h2>  Introduction </h2>
<p>  Hello, my name is <b>Larry Jiang</b>. I enjoy playing and watching sports. I also like to go camping and take landscape photography.


</div>

</div>
</div>



<a href='aishwarya.html'>
<button>
Previous
</button>
</a>

<a href='https://sfsuse.com/fa17g02/' > <button>
Home
</button>
</a>

</body>
</html>

