<!DOCTYPE html>
<html lang="en">

<head>
<% include partials/head %> 
</head>

<body>

 <header>
    <% include partials/header %>
</header>

<div class="container text-center">
        <h1> San Francisco State University</h1>
        <p>Software Engineering CSC 648 </p>
        <p> Fall 2017</p>
        <p> Section 02 - Team 02</p>
</div>

    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12">

          <form action="search" method="get">
            <input type="text" name="q" autocomplete="off"><br>
            <input type="submit" value="search">
          </form>

       </div>
      </div>
     </div>
</div>
<!--
<div class="image">

      <img src="images/img.png" alt="" />
      
      <h2 class="text-center"">
        <form action="search" method="get">
            <input type="text" name="q" placeholder="Enter ..." autocomplete="off"><br>
            <input type="submit" value="search">
          </form>
        </h2>
</div>
-->

<div id="footer">
    <% include partials/footer %>
</div>

          <% include partials/style %>
<% include partials/plugins %>
 </body>
</html>

