<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>

</head>

<body>
<header>
    <% include partials/header %>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
	<div>

<div class="panel-primary">
  <div class="panel-heading"> Sign Up</div>

	<form id="signUpForm" action="signUp" method="post">

  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="firstName" type="text" class="form-control" name="firstName" placeholder="Enter First Name" required/>
    </div><br>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="lastName" type="text" class="form-control" name="lastName" placeholder="Enter Last Name" required/>
    </div><br> 
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      <input id="email" type="email" class="form-control" name="email" placeholder="Enter Email" required/>
    </div><br>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="password" type="password" class="form-control" name="pwd" placeholder="Enter password" required/>
    </div><br>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="confirmPassword" type="password" class="form-control" name="pwd" placeholder="Re-enter password" required/>
    </div><br>
    <div class="radiobox">
      <input id="accountType" type="radio" name="accountType" value="1" required/> Buyer
    </div><br>
    <div class="radiobox">
      <input id="accountType" type="radio" name="accountType" value="2" required/> Seller
    </div><br>
 </div>
  <div class="panel-footer text-right">
<!-- input type="submit" -->
    <button class="btn btn-primary" name="submit" value="Submit">Sign Up</button>
  </div>
</form>
    <a href="login"><button type="button" class="btn btn-primary">Login </button></a>
</div>

	  </div>
        </div>
    </div>
</div>

<div id="emp">
</div>

<div id="footer">
    <% include partials/footer %>
</div>

<% include partials/style %>
<% include partials/plugins %>

</body>
</html>
